//
// license-start
// 
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
// 
// Copyright (c) 2021 INPS - Istituto Nazionale di Previdenza Sociale
//

div#inps-loading-overlay
    
    img(
        src="/#{v}/svg/logo-color.svg",
        alt="INPS Bug Tracking",
    )

    p 
        |Caricamento in corso...