//
// license-start
// 
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
// 
// Copyright (c) 2021 INPS - Istituto Nazionale di Previdenza Sociale
//


//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

doctype html

div.error-main
    
    div.logo-container
        img.logo-svg(src="#{v}/svg/logo-color.svg", alt="INPS", width="143px")
    
    div.error-container
        img.error-img(src="#{v}/images/404.png", role="none")
        h1.logo(translate="ERROR.NOT_FOUND")
        p(translate="ERROR.NOT_FOUND_TEXT")
        a(href="/discover", title="", translate="COMMON.GO_HOME")
