@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);

body {
    font-family: $inpsDefaultFontFamily;
    background-color: #fff !important;
}

:focus {
	box-shadow: 0 0 0 2px #ff8c00, inset 0 0 0 2px #ff8c00 !important;
}

.activity-diff {
    .key {
        font-family: $inpsDefaultFontFamily;
    }

    .diff-status-wrapper p {
        word-break: break-all;
    }
}

.italia-it-button {
    display: inline-block;
    position: relative;
    padding: 0;
    color: $color-white;
    font-family: $inpsDefaultFontFamily;
    font-weight: 600;
    line-height: 1em;
    text-decoration: none;
    border: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.italia-it-button-icon,
.italia-it-button-text {
    display: block;
    float: left;
}

.italia-it-button-icon {
    margin: 0 -.4em 0 0;
    padding: 0.6em .8em .5em;
    border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
}

.italia-it-button-text {
    padding: .95em 1em .85em 1em;
    font-size: 1.15em;
    text-align: center;
}

svg {
    width: 1.8em;
    height: 1.8em;
}

.italia-it-block {
    display: block;
}

.italia-it-button-size-s {
    font-size: 10px;
    width: 150px;
}

.italia-it-button-size-s > span img {
    width: 19px;
    height: 19px;
    border: 0;
}

.italia-it-button-size-m {
    font-size: 15px;
    width: 220px;
    @media (max-width: $xl) {
        width: 400px;
    }
}

.italia-it-button-size-m > span img {
    width: 29px;
    height: 29px;
    border: 0;
}

.italia-it-button-size-l {
    font-size: 20px;
    width: 280px;
}

.italia-it-button-size-l > span img {
    width: 38px;
    height: 38px;
    border: 0;
}

.italia-it-button-size-xl {
    font-size: 25px;
    width: 340px;
}

.italia-it-button-size-xl > span img {
    width: 47px;
    height: 47px;
    border: 0;
}

.button-spid {
    background-color: #06C;
    color: $color-white;
}

.button-spid svg {
    fill: $color-white;
}

.button-spid:hover {
    background-color: #036;
    color: $color-white;
}

.button-spid:active {
    background-color: #83BEED;
    color: #036;
}

.spid-idp-button {
    position: absolute;
    z-index: 1039;
    display: none;
}

.spid-idp-button .spid-idp-button-menu,
.spid-idp-button .spid-idp-button-panel {
    list-style: none;
    background: $color-white;
    border: solid 1px #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 0;
    margin: 0;
}

#spid-idp-button-small-get,
#spid-idp-button-medium-get,
#spid-idp-button-small-post,
#spid-idp-button-medium-post {
    width: 230px;
}

#spid-idp-button-large-get,
#spid-idp-button-large-post {
    width: 270px;
}

#spid-idp-button-xlarge-get,
#spid-idp-button-xlarge-post {
    width: 330px;
}

.spid-idp-button .spid-idp-button-panel {
    padding: 10px;
}

.spid-idp-button.spid-idp-button-tip {
    margin-top: 8px;
}

.spid-idp-button.spid-idp-button-tip:before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    display: inline-block;
}

.spid-idp-button.spid-idp-button-tip:after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $color-white;
    display: inline-block;
}

.spid-idp-button.spid-idp-button-tip.spid-idp-button-anchor-right:before {
    left: auto;
    right: 9px;
}

.spid-idp-button.spid-idp-button-tip.spid-idp-button-anchor-right:after {
    left: auto;
    right: 10px;
}

.spid-idp-button.spid-idp-button-scroll .spid-idp-button-menu,
.spid-idp-button.spid-idp-button-scroll .spid-idp-button-panel {
    max-height: 180px;
    overflow: auto;
}

.spid-idp-button .spid-idp-button-menu li {
    list-style: none;
    padding: 0 0;
    margin: 0;
    line-height: 18px;
}

.spid-idp-button .spid-idp-button-menu li > a,
.spid-idp-button .spid-idp-button-menu label {
    display: block;
    font-family: $inpsDefaultFontFamily;
    font-weight: 600;
    font-size: .9em;
    color: #06C;
    text-decoration: underline;
    line-height: 18px;
    padding-top: 5px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}

.spid-idp-button .spid-idp-button-menu li > a:hover,
.spid-idp-button .spid-idp-button-menu label:hover {
    color: #036;
    cursor: pointer;
    background-color: #F0F0F0;
}

.spid-idp-button .spid-idp-button-menu li > a img {
    height: 45px;
    padding: 10px 0 10px 10px;
    border: 0;
    @media (max-width: $xl) {
        height: 65px;
    }
}

.idp-button-idp-logo {
    font-size: 100%;
    height: 10%;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

.idp-button-idp-logo:hover {
    background-color: #F0F0F0;
}

.idp-button-idp-logo img {
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.spid-top-menu-space-10 > a img {
    margin-top: 10px;
}

.spid-top-menu-space-20 > a img {
    margin-top: 20px;
}

.spid-top-menu-line {
    border-top: 5px solid #000;
}

.spid-idp-support-link > a {
    padding: 5px 0 10px 10px;
}

.spid-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html {
    @media (max-width: $xl) {
        //font-size: 3vw;
    }
}

// Default body color and background
body {
    background: $inps-back-color;
}

.navbar {
    @media (max-width: $xl) {
        //height: 100px;
    }
    background: $inps-nav-color;

    #logo-svg {
        display: none;
    }

    .nav-right {
        svg {
            fill: $color-white;
        }

        [tg-dropdown-notifications] svg {
            fill: $color-white;
        }
    }

    .dropdown-project-list-projects span {
        color: $color-white;
    }

    .nav-left {
        > a {
            &.logo {
                width: 48px;
                height: 48px;
                background: url(https://www.inps.it/NuovoPortaleInps/modelliNuovo/assets/img/logo-inps-neg.png) no-repeat center;
                background-size: 25px;
                @media (max-width: $xl) {
                    //width: 100px;
                    //height: 100px;
                    //background-size: 50px;
                }
            }
        }
    }

    svg {
        path {
            fill: $color-white;
        }
    }
}

.btn-big,
.btn-icon,
.btn-filter {
    min-height: 48px;
}

.btn-small,
.btn-big,
.btn-icon[variant="primary"],
.btn-small[variant='primary'] {
    background: $inps-nav-color;
    color: $color-white;
}

.new-issue .btn-small[variant='primary']:hover,
#submitButton[variant='primary']:hover {
    background: $inps-succ-color;
    color: $color-white;
}

a.secondary:hover {
    color: $color-black600;
}

#icon-message-square {
    fill: $color-black600;
}

.icon-resources {
    fill: $color-black600 !important;
}

.dropdown-project-list.active .dropdown-project-list-projects {
    background: none;
}

.discover-header {
    form {
        @media (max-width: $xl) {
            margin: 0 0;
        }
    }
}

.spid-idp-button-menu {
    @media (max-width: $xl) {
        width: 400px;
    }
}

.sticky-project-menu {
    @media (max-width: $xl) {
        //display: none;
    }
}

.master {
    .wrapper {
        @media (max-width: $xl) {
            //flex-direction: column;
        }
    }
}

.sidebar.ticket-data {
    @media (max-width: $xl) {
        order: 1;
    }
}

.ticket-section.ticket-data-container {
    @media (max-width: $xl) {
        flex-direction: column;
        display: flex;
    }
}

.ticket-data {
    @media (max-width: $xl) {
        max-width: 32%;
    }
}

.single-project-title-wrapper {
    .intro-options {
        @media (max-width: $xl) {
            display: block;
        }
    }
}

.project-data {
    .involved-data {
        @media (max-width: $xl) {
            display: none;
        }
    }
}

.main.detail {
    @media (max-width: $xl) {
        order: 1;
    }
}

.main {
    @media (max-width: $xl) {
        overflow-y: scroll;
    }
}

.lightbox .title {
    text-align: center;
    font-size: 1.7rem;
    font-family: $inpsDefaultFontFamily
}

.lightbox form {
    text-align: center;
}

.lightbox.open {
    @media (max-width: $xl) {
        align-items: unset;
        padding-top: 2rem;
    }
}

.lightbox-create-edit {
    form {
        @media (max-width: $xl) {
            max-width: 100%;
            width: 90%;
            flex-basis: unset;
        }
    }

    .form-wrapper {
        @media (max-width: $xl) {
            width: 100%;
        }
    }
}

.home-wrapper {
    .dashboard-container {
        @media (max-width: $md) {
            flex-direction: column;
        }
    }
}

.attachments-empty {
    @media (max-width: $xl) {
        display: none;
    }
    color: #506221;
}

.discover-header-inner {
    .searchbox-filters {
        display: none;
    }
}

.discover-search {
    .discover-header {
        form {
            margin: unset;
        }

        .searchbox {
            input {
                padding-left: 1rem;
                padding-right: 0;
            }
        }

        .search-button {
            left: auto;
            right: 1rem;
            top: 0.8rem!important;
            @media (max-width: $xl){
                top: 0rem;
            }
        }
    }
}

.discover-header {
    .search-button {
        left: auto;
        right: 1rem;
        top: 0.8rem!important;
        @media (max-width: $xl){
            top: 0rem;
        }
    }
}

.discover-results-header {
    display: none;
}

.level-field {
    @media (max-width: $xl) {
        display: none;
    }
}

.btn-filter.e2e-open-filter {
    @media (max-width: $xl) {
        //display: none;
    }
}

.display-tags-button {
    display: none;
}

.issue-table-options-start tg-input-search {
    width: 100%;
}

.new-issue {
    button:nth-child(2) {
        display: none;
    }
}

.issues-table.basic-table {
    .title {
        @media (max-width: $xl) {
            display: none;
            margin-top: 2rem;
        }
    }
}

.issue-main {
    @media (max-width: $xl) {
        padding: 1rem;
        .icon-search {
            display: none;
        }
    }
}

.topnav-dropdown-wrapper.nav-bar-support {
    display: none;
}

.navbar-dropdown.dropdown-user {
    @media (max-width: $xl) {
        //left: -350px;
        //top: 2.5rem;
        //width: 500px;
    }
}

.topnav-dropdown-wrapper:hover {
    .navbar-dropdown-notifications {
        @media (max-width: $xl) {
            display: none;
        }
    }
}

.settings-nav {
    .active a {
        word-break: break-all;
    }

    @media (max-width: $xl) {
        min-height: unset;
        width: inherit;
    }
}

.profile-content-tabs {
    @media (max-width: $xl) {
        display: none;
    }
}

.profile-sidebar {
    @media (max-width: $xl) {
        display: none;
    }
}

.profile {

    .profile-bar {
        .username {
            word-break: break-all;
        }
    }

    @media (max-width: $xl) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-bar {
            width: 100%;
            text-align: center;

            .username {
                word-break: break-all;
            }

            .profile-stats {
                display: none;
            }
        }
        .timeline-wrapper {
            margin-right: 0;
        }
    }
}

.issue-top {
    margin-bottom: 1rem;

    .issue-header {
        padding: 0.5rem;
    }
}

#usersettingsmenu-project-settings {
    display: none;
}

#usersettingsmenu-mail-notifications {
    display: none;
}

#usersettingsmenu-live-notifications {
    display: none;
}

#usersettingsmenu-web-notifications {
    display: none;
}

.single-project {
    .timeline {
        margin-top: 1rem;
    }
}

.empty-large {
    img {
        display: none;
    }
}

.issue-header {
    border-radius: 0.5rem;
    background: $inps-back-color;
    border: 1px solid $color-link-primary;
}

.issues-table {
    .row:not(.title) {
        background: $inps-back-color;
        border: 1px solid $color-link-primary;
    }
}

.discover-header {
    h1 {
        color: $color-white !important;
    }

    .project-number {
        color: $color-white
    }

    background: $inps-header-color;
}

.view_all_issues {
    color: $color-white !important;
}

#public-issue .check {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: sub;
}

section.empty-large a,
section.empty-large p.title {
    font-size: .875rem;
    font-family: $inpsDefaultFontFamily;;
    font-weight: 500;
    color: $inps-nav-color;
    padding-bottom: .8rem;
}

section.empty-large a {
    border-top: 1px solid #D8DEE9;
    padding-top: .4rem;
}

.issue-main sidebar.filters-bar {
    background: $inps-back-color;
}

tg-issue-legend,
.issue-main sidebar.filters-bar tg-filter {
    border-radius: 0.5rem;
    border: 1px solid $color-link-primary;
    min-height: 30%;
}

.btn-filter {
    margin-right: 1rem;
}

.auth {
    background: #4c566a;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border: 2px solid #b7cb83;
}

.btn-big:hover,
.btn-big[variant=destructive]:disabled,
.btn-big[variant=primary]:hover,
.btn-big[variant=secondary]:hover,
.btn-board:hover,
.btn-board[variant=destructive]:disabled,
.btn-board[variant=primary]:hover,
.btn-board[variant=secondary]:hover,
.btn-filter:hover,
.btn-filter[variant=destructive]:disabled,
.btn-filter[variant=primary]:hover,
.btn-filter[variant=secondary]:hover,
.btn-icon:hover,
.btn-icon[variant=destructive]:disabled,
.btn-icon[variant=primary]:hover,
.btn-icon[variant=secondary]:hover,
.btn-small:hover,
.btn-small[variant=destructive]:disabled,
.btn-small[variant=primary]:hover,
.btn-small[variant=secondary]:hover {
    background-color: #b7cb83;
    color: #fff;
}

a.issue-status {
    padding-top: 0px !important
}


/*INPS DESIGN SYSTEM*/

h1,
h1.project-name {
    color: $secondary-100 !important;
    font-family: $inpsDefaultFontFamily;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.4285714328289032px;
    text-align: left;
}

a,
a:visited,
.ticket-created-by .created-by .created-title {
    color: $interactiveBluDefault;
    text-decoration: underline;
}

.profile-timeline .activity-item a:first-child,
.profile-timeline .activity-item .username:first-child {
    font-family: $inpsDefaultFontFamily;
    color: $secondary-100;
}

a.btn-big,
a.btn-small {
    text-decoration: none !important;
}

.btn-big,
.btn-small,
.btn-icon,
.btn-big[variant=primary],
.btn-small[variant=primary],
.btn-icon[variant=primary] {
    background-color: $interactiveBluDefault !important;
    text-decoration: none !important;
    color: #fff !important;
    min-height: 48px !important;
    text-transform: none;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.btn-big[variant=primary],
.btn-small[variant=primary],
.btn-icon[variant=primary] {
    background-color: $interactiveBluDefault !important;
    text-decoration: none !important;
    color: #fff !important;
}

.btn-big:hover,
.btn-small:hover,
.btn-icon:hover,
.btn-big[variant=primary]:hover,
.btn-small[variant=primary]:hover,
.btn-icon[variant=primary]:hover {
    background-color: $interactiveBluHover !important;
    color: #FFF !important;
}

.btn-big:visited,
.btn-small:visited,
.btn-icon:visited,
.btn-big[variant=primary]:visited,
.btn-small[variant=primary]:visited,
.btn-icon[variant=primary]:visited {
    color: #FFF !important;
}

.attachments-header .view-gallery.is-active svg,
.attachments-header .view-list.is-active svg,
.single-project .track-container .icon,
.attachment-list .attachment-settings svg {
    fill: $interactiveBluDefault !important;
}

.attachments-header .view-gallery:hover svg,
.attachments-header .view-list:hover svg,
.attachment-list .attachment-settings:hover svg,
.navbar .nav-right > a:hover svg,
.navbar .nav-right > .topnav-dropdown-wrapper:hover > a svg {
    fill: $interactiveAccentHover !important;
}

.navbar .nav-right .active svg {
    fill: #fff !important;
}

.highlighted-project .statistic.active,
.home-project .statistic.active svg,
.home-project .statistic.active {
    color: $interactiveBluPressed;
}

.highlighted-project .statistic.active svg {
    fill: $interactiveBluPressed;
}

.highlighted-draggable-project:hover {
    background: rgba(92, 186, 169, 0.1);
    cursor: move;
    transition: background .3s;
}

.single-project .track-container .list-itemtype-track,
.list-itemtype-ticket .ticket-type,
.list-itemtype-ticket .ticket-id {
    color: $interactiveBluDefault !important;
}

.btn-big[variant=secondary],
.btn-small[variant=secondary],
.btn-filter,
.btn-filter[variant=secondary] {
    background-color: $interactiveGrayDefault !important;
    color: #FFF !important;
}

.btn-big[variant=tertiary],
.btn-small[variant=tertiary],
.btn-filter[variant=tertiary] {
    color: $interactiveBluDefault !important;
    background-color: transparent !important;
    border: 2px solid $interactiveBluDefault;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-big[variant=tertiary]:hover,
.btn-small[variant=tertiary]:hover,
.btn-filter[variant=tertiary]:hover {
    color: $interactiveBluHover !important;
    border-color: $interactiveBluHover !important;
}

.btn-big[variant=secondary]:hover,
.btn-small[variant=secondary]:hover,
.btn-filter:hover,
.btn-filter[variant=secondary]:hover {
    background-color: $interactiveGrayHover !important;
}

.btn-big[variant=secondary]:hover,
.btn-small[variant=secondary]:hover,
.btn-filter:hover,
.btn-filter[variant=secondary]:hover {
    background-color: $interactiveBluHover !important;
}

.detail-ref {
    font-family: $inpsDefaultFontFamily;
    color: $primary-100;
}

.ticket-users-actions .ticket-users-action {
    background: none;
}

.ticket-status .type-data .level-name,
.ticket-status .severity-data .level-name,
.ticket-status .priority-data .level-name {
    color: $primary-100;
}

.menu-option[_ngcontent-apq-c17] > a[_ngcontent-apq-c17],
.menu-option[_ngcontent-apq-c17] > button[_ngcontent-apq-c17] {
    background-color: $darkPrimary-120;
    color: $interactiveAccentDefault;
}

.menu-option[_ngcontent-apq-c17] > a[_ngcontent-apq-c17]:hover,
.menu-option[_ngcontent-apq-c17] > button[_ngcontent-apq-c17]:hover {
    color: $interactiveAccentHover;
}

.menu-option.active[_ngcontent-hyl-c17] > a,
.menu-option.active[_ngcontent-hyl-c17] > button {
    color: $interactiveAccentActive !important;
}

.button-spid {
    color: #fff !important;
}

.navbar [tg-dropdown-user] .email {
    color: $primary-100;
}

.issues-table .title [data-fieldname] {
    color: #454D56;
}

.issue-main sidebar.filters-bar {
    background: #fff;
}

.issue-header {
    border: none;
    background: none;
}

tg-issue-legend,
.issue-main sidebar.filters-bar tg-filter {
    border: 1px solid $ligthSecondary-40 !important;
}

.issues-table .row:not(.title) {
    background: #fff;
    border: 1px solid $ligthSecondary-40 !important;
}

.comment .comment-creator,
.issues-table .subject .issue-ref {
    color: $primary-100;
}

input[type=text],
input[type=number],
input[type=password],
input[type=url],
input[type=email],
input[type=date],
input[type=search],
select,
textarea {
    background: #FFFFFF;
    border: 1px solid #454D56;
    box-sizing: border-box;
    border-radius: 4px;
    color: #5B6571;
    margin: 0;
    padding: .3rem 1rem .3rem .95rem;
    width: 100%;
    height: 48px;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border: 1px solid #0092D1;
    /* $shadowFocus */
    filter: drop-shadow(0px 0px 3px rgba(0, 125, 179, 0.7));
    border-radius: 7px;
}

tg-input-search tg-svg {
    top: 18px;
}

.notifications-page .notifications-list .entry.new {
    background-color: $ligthPrimary-40 !important;
}

.invite-members-single-remove,
.e2e-invite-members-single-remove {
    margin-right: .8rem;
}

.admin-membership-table .row-admin,
.admin-membership-table .header-admin {
    flex-basis: 0;
    flex-grow: 2;
    min-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-membership-table .user-data .name {
    span {
        word-break: break-all;
    }

    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-desc-container .block-description-title {
    font-family: $inpsDefaultFontFamily;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.3rem;
    padding: 0 .5rem;
}

.issues-table .row:not(.title).is-blocked,
.working-on .duty-single > a.blocked, .watching .duty-single > a.blocked {
    background: $blockedGrey;
}


tg-html-editor .ck-content,
.wysiwyg {
    code {
        font-family: $inpsDefaultFontFamily;
    }
}

tg-wysiwyg btn {
    margin: 0.2rem 0 0.2rem 0;
}

.add-tag-input input {
    max-height: 48px;
    margin-right: 0.5rem;
}

.color-selector .tag-color {
    height: 48px;
    width: 48px;
}

.highlighted-project .project-title a {
    color: $interactiveBluDefault;
}


.highlighted-project .project-title a:hover {
    color: $interactiveBluHover;
}


.issue-header .btn-small {
    margin-right: 0 !important;
}


.issue-top .issue-header {
    padding: 0.5rem 0 !important;
}


/*dropdown*/


.filter-highlighted .current-filter {
    border: 1px solid #454D56;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    color: $midSecondary-90;
    align-items: center;
    text-decoration: none;
    min-width: 190px;
    justify-content: space-between;
}


.filter-highlighted .current-filter:focus {
    border: 1px solid #0092D1;
    /* $shadowFocus */

    border-radius: 7px;
}


ul.filter-list {
    display: block !important;
    visibility: visible !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: 1px solid #454D56 !important;
    top: 45px !important;
    width: 190px !important;
}


ul.filter-list:before,
ul.filter-list:after {
    display: none !important;
}


ul.filter-list li a {
    color: $midSecondary-90 !important;
    text-decoration: none !important;
    padding: 1rem !important;
    font-weight: 300 !important;
}


ul.filter-list li a:hover {
    background-color: #00628C !important;
    color: #fff !important;
}

.see-more-projects-btn {
    margin: 0.5rem;
    width: 95%;
}

/*tabs*/


.history-tabs {
    background: #fff;
}


.history-tabs .history-tab {
    border-bottom: 3px solid #EDF4F7;
    color: $secondary-100;
    text-decoration: none;
    font-weight: 400 !important;
}


.history-tabs .history-tab.active {
    border-bottom: 3px solid $primary-100;
    color: $secondary-100;
}


.history-tabs a:hover {
    color: $interactiveBluHover;
    border-color: $interactiveBluHover;
}

h1.title {
    font-family: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: #434456;
    display: inline-block;
    margin: 0;
}

.btn-cancel {
    margin-right: 1rem;
}

tg-wysiwyg .editor.edit-mode {
    width: 85%;
}

.table-team .avatar .name {
    word-break: break-all;
}

.admin-menu li > a {
    margin-right: 1rem;
}

.error-main {
    background: white;
    align-items: center;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $first-layer;
    .logo-container {
        display: block;
        background-color: $white;
        width: 100%;
        max-height: 20rem;
        padding: 3rem;
    }
    .error-container {
        display: block;
        color: $white;
        background-color: $interactiveBluPressed;
        width: 100%;
        height: 100%;
        padding: 3rem 0 3rem 0;
        text-align: center;
    }
    .logo-svg {
        padding: 0 32%;
        text-align: center;
        width: 100%;
        display: block;
        height: 10rem;
    }
    h1 {
        color: $white !important;
        display: block;
        margin-bottom: 1rem;
        text-align: center;
    }
    a {
        color: $primary-light;
    }
}

.screenreader-text {
    color: #fff;
    position: fixed;
    left: -999px;
    width:1px;
    height: 1px;
    top: auto;

    &:focus {
        position: absolute;
        font-size: 1.5rem!important;
        text-decoration: none;
        color: $darkPrimary-120!important;
        display: inline-block;
        height: auto;
        width: auto;
        position: static;
        margin: 1rem;
    }
}

.ticket-user-list-content {
    .user-list-name {
        overflow-wrap: anywhere;
    }
}

tg-wysiwyg {
    .btn-small {
        margin: 0.2rem 0 0.2rem 0;
        display: flex;
        font-size: 0.9rem!important;
        padding: 0.5rem;
    }
}
