//
// license-start
//
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
//
// Copyright (c) 2021 INPS - Istituto Nazionale di Previdenza Sociale
//


script(type="text/javascript")
    |$(document).ready(function(){
    |   var url_string = window.location.href;
    |   var url = new URL(url_string);
    |   var partial_code = url.searchParams.get("partial_code");
    |   $.ajax({
    |       url: `/spid/exchange_token/`,
    |       type: "post",
    |       data: {
    |           partial_code: partial_code
    |       },
    |       success: function(result) {
    |           if (result['auth_token']){
    |               localStorage.setItem('userInfo', JSON.stringify(result));
    |               localStorage.setItem('token', '"' + result['auth_token'] + '"');
    |           }
    |           window.location.href = "/discover";
    |       },
    |       error: function(error) {
    |           console.log(error);
    |           window.location.href = "/discover";
    |       }
    |   });
    |});
