{
    "api": "/api/v1/",
    "eventsUrl": null,
    "eventsMaxMissedHeartbeats": 5,
    "eventsHeartbeatIntervalTime": 60000,
    "eventsReconnectTryInterval": 10000,
    "debug": false,
    "debugInfo": false,
    "defaultLanguage": "it",
    "themes": ["inps"],
    "defaultTheme": "inps",
    "defaultLoginEnabled": false,
    "publicRegisterEnabled": false,
    "feedbackEnabled": true,
    "supportUrl": "https://resources.taiga.io",
    "privacyPolicyUrl": null,
    "termsOfServiceUrl": null,
    "maxUploadFileSize": 10485760,
    "attachmentMymeTypes":["image/jpg","image/jpeg","image/png","application/pdf"],
    "tagManager": { "accountId": null },
    "tribeHost": null,
    "enableAsanaImporter": false,
    "enableGithubImporter": false,
    "enableJiraImporter": false,
    "enableTrelloImporter": false,
    "gravatar": false,
    "rtlLanguages": ["ar", "fa", "he"],
    "issueLegendDefaultOpen": true,
    "loginSpidUrl": "/spid/login/?idp=https://localhost:8080"
}
